*{
	font-family: "Comfortaa", sans-serif;
	transition: 0.1s;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: transparent;
}
.btn{
	background: black;
	width: 150px;


}

.btn p{
	font-weight: bold;
	color:white;
	animation: hexcolors 5s infinite alternate;

}
.btn:hover{
	border:5px solid black;
	transition: 0.2s;
}
.btn:active{
	background: #4f4f4f;
}



@keyframes hexcolors{
	20%{
		color: red;
	}
	40%{
		color: blue;
	}
	60%{
		color: orange;
	}
	80%{
		color: yellow;
	}
	100%{
		color: green;
	}
}


